// Body
$body-bg: #e7e8ea;
// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;
// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;
// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$roboto: 'Roboto',
sans-serif;
$helvetica: 'Helvetica Neue',
'Arial',
sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;
// Navbar
$navbar-default-bg: #fff;
$navbar-text-color: #fff;
// Buttons
$btn-default-color: $text-color;
// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);
// Panels
$panel-default-heading-bg: #fff;
// Colours
$peacock-blue: #0056a4;
$water-blue: #1980de;
// $dark: #17181c;
$body-bg: #E7E8EA;
$darkerGrey: #272626;
$bcDarkGrey: #2E2E2F;
$charcoal-grey: #2c2d32;
$cool-grey: #a0a6ac;
$tag-gray: #dbdbdb;
$navitemcolour: #5486BC;
$white: #ffffff;
$light-grey: #e7e8ea;
$steel-grey: #788089;
$slate-grey: #272626;
$silver: #bdc3c7;
$silver-two: #d4d8db;
$gunmetal-two: #4d4f55;
$gunmetal: #4e4f54;
$red-lighter: #f00a0a;
$red-two: #f00a0a;
$red: #CC0202;
$pale-grey: #f3f3f6;
$penalty-green: #6ec807;
$highlight: #04294f;
$hover-blue: #033660;
$rosy-grey: #f3f3f6;
// Utilities
$nopadding: 0;
$nomargin: 0;
